div#battelle {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;

  #crosshair-h{
/*
    width: 1cm;
    margin-left: -0.5cm;
    top: 50%;
    left: 50%;
 */
    width: 100%;
    top: 0;
    left: 0;
    height:1px;
  }
  #crosshair-v{
/*
    height: 1cm;
    left: 50%;
    top: 50%;
    margin-top: -0.5cm;
 */
    top: 0;
    left: 0;
    width:1px;
    height: 100%;
  }
  .hair{
    z-index: 99;
    pointer-events: none;
    position:fixed;
    background-color:rgba(0,0,0,1);
    display: none;
    box-shadow: 1px 1px yellow;
  }
  .wrapper {
    position: fixed;
    top: 4px;
    width: 100%;
    #mousecoords {
      display: none;
      width: 20em;
      margin: auto;
      text-shadow: 1 1 1 rgba(255,255,255,0.3);
      text-align: center;
      background-color: white;
      border: 1px solid black;
      border-radius: 4px;
      font: fixed;
    }
  }

  .leaflet-control-container {
    z-index: 999;
  }

   search {
    position: absolute;
    top: 10px;
    width: 100%;

    .custom-search-input {
      width: 20%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
